.cart-container{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    cursor: pointer;

    img{
        width: 30px;
    }

    .cart-count{
        margin-left: -8;
        background-color: red;
        color: white;
        padding-right: 4px;
        border-radius: 10px;
    }

}